@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');

.body {
    font-family: "Federant", serif;
}

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #088395;
  --color-secondary: #7AB2B2;
}

@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@plugin "daisyui";